doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Kurukshetra Dance Academy
    link(rel="icon", href="../static/favicon.ico", type="image/ico")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css")
    block scripts
    block styles 
        style 
            include base.css
  body
    div(id="div1")
        img(src="https://lh3.googleusercontent.com/pw/AIL4fc-cYKuMMWU56sfI72LDc8X6PvrGz2CbqinyzMYGAOf3-YOw_rnBU2TNaoCAXbJVm_UzoBaQiypuDijbnDjZaPQgyrGjOpfAt_Zw83IhjPTXsmMtRid0oIHKXRaQ1X8TAPimhiZB1gWRk20NCz8qQA8=w48-h48-s-no",alt="not found")
        ul(id="div1-ul1")
            li #[a(href="/#div2",id="div1-ul1-scroll-anchor1") Home]
            li #[a(href="/#div3-div1",id="div1-ul1-scroll-anchor2") Dances]
            li #[a(href="/#div4-div1",id="div1-ul1-scroll-anchor3") Achievments]
            li #[a(href="/contactus") Contact]
        //- i(class="ri-menu-fill",onclick="toggleMenu()")
    div(id="div2-div2") Copyright &copy; 2023 KurukshetraDanceAcademy.com | All rights reserved
    block content
    