extends base.pug
block scripts
    script 
        include ../static/main.js
block styles
    style 
        include ../static/base.css
    style 
        include ../static/main.css
block content
    div(id="div2") 
        img(id="div2-img1",src="https://see.fontimg.com/api/renderfont4/Gg5D/eyJyIjoiZnMiLCJoIjo4MSwidyI6MTI1MCwiZnMiOjY1LCJmZ2MiOiIjRjJGREZDIiwiYmdjIjoiI0ExMjQyNCIsInQiOjF9/S3VydWtzaGV0cmEgRGFuY2UgQWNhZGVteQ/samarkan-normal.png", alt="NOT FOUND")

        div(id="div2-div1") Welcome to the captivating world of Kurukshetra Dance Academy, a premier Traditional Indian Dance Teaching Academy. Immerse yourself in the rich tapestry of India's cultural heritage as we present an authentic and transformative dance experience. Our academy offers expert training in classical dance forms like Bharatanatyam, Kathak, Odissi, Kuchipudi, and more. Led by seasoned instructors, we nurture talent and instill a deep appreciation for the art's traditions and storytelling elements. Embracing tradition while celebrating innovation, we provide a welcoming and supportive environment for dancers of all levels. Unite rhythm, expression, and grace with us as we embark on an enchanting journey through the magic of Indian dance.

        h3 Kurukshetra where excellency meets talent
    div(id="div3")
        div(id="div3-div1")
            h3 Dances We Teach 
        div(id="div3boxesholder")
            div(class="div3boxes")
                img(src="../static/dance3-removebg-preview (1).png",alt="NOT FOUND")
                a(href="/") Bharatanatyam 
                p Bharatanatyam is a traditional Indian classical dance form with origins in Tamil Nadu.
                p It is characterized by intricate footwork, graceful hand gestures, expressive facial movements, and dynamic body postures.
                p The dance narrates stories from mythology and conveys emotions through its rhythmic and enchanting movements, making it a captivating and culturally significant art form. 
            div(class="div3boxes") 
                img(src="../static/dance5-removebg-preview (1).png",alt="NOT FOUND")
                a(href="/") Kathak 
                p Kathak is a graceful and expressive classical dance form from northern India, originating from the storytelling traditions of ancient Hindu temples.
                p It involves intricate footwork, rhythmic patterns, elegant hand gestures, and fluid body movements. 
                p Kathak performances often depict mythological tales and historical events, showcasing the dancer's storytelling prowess and artistic finesse. 
            div(class="div3boxes") 
                img(src="../static/dance6-removebg-preview (1).png",alt="NOT FOUND")
                a(href="/") Odissi 
                p Odissi is a classical dance form that originated in the eastern Indian state of Odisha. 
                p Known for its lyrical and sensuous movements, it depicts mythological stories with intricate hand gestures (mudras) and graceful body postures. 
                p The dance's rich history and deep spiritual connections make Odissi a captivating and culturally significant art form , preserving the heritage of India's artistic traditions.
            div(class="div3boxes") 
                img(src="../static/dance7-removebg-preview (1).png",alt="NOT FOUND")
                a(href="/") Kuchipudi 
                p Kuchipudi is a classical dance form hailing from the southern Indian state of Andhra Pradesh. 
                p It combines graceful movements, rhythmic footwork, and elaborate expressions to portray mythological tales and devotional themes 
                p The dance form is characterized by its dynamic use of storytelling, impressive jumps, and vibrant costumes, reflecting the cultural heritage of the region.
            div(class="div3boxes")
                img(src="../static/dance8-removebg-preview (1).png",alt="NOT FOUND")
                a(href="/") Bhangra 
                p Bhangra is a lively and energetic folk dance originating from the Punjab region in India. It celebrates the harvest season and cultural events with its rhythmic drum beats, exuberant movements, and colorful costumes.
                p Bhangra's infectious and joyful spirit has transcended borders, becoming popular worldwide and is often performed during festive occasions and cultural festivals. 
            div(class="div3boxes")
                img(src="../static/dance9-removebg-preview (1).png",alt="NOT FOUND")
                a(href="/") Garba 
                p Garba is a traditional folk dance from the Indian state of Gujarat, popular during the nine-day Navratri festival. 
                p Dancers form circles and gracefully move in intricate patterns, clapping their hands and twirling in rhythmic harmony. 
                p The dance embodies a vibrant celebration of life, devotion, and cultural unity, fostering a sense of joy and togetherness among participants. 
    div(id="div4")
        div(id="div4-div1")
            h3 Achievments 
        div(id="div4boxesholder")
            div(class="div4boxes")
                h3 Zee Cine Award for Best Choreography
                p The Zee Cine Award for Best Choreography is an accolade presented annually at the Zee Cine Awards ceremony. It recognizes outstanding choreographic work in Indian cinema. Choreographers who have displayed creativity, innovation, and excellence in crafting dance sequences for films are eligible for this honor. A panel of industry experts select the winner from the nominated entries. The award aims to appreciate the significant impact of choreography on enhancing value of Bollywood films. It serves as a platform to encourage the talented choreographers who play a vital role in the success of Indian movies.
            div(class="div4boxes")
                h3 IIFA Award for Best Choreography
                p The IIFA Award for Best Choreography is a prestigious accolade presented at the International Indian Film Academy (IIFA) Awards ceremony. It recognizes the choreographers of Indian cinema. The award honors choreographers who demonstrated creativity and innovation in crafting captivating dance sequences for films.The IIFA Awards celebrate the excellence in Bollywood and aim to bring together the Indian film on an international platform, making the Best Choreography award a significant recognition for the choreographers' crucial role in creating memorable dance performances on the silver screen.
            div(class="div4boxes")
                h3 Kalaimamani Award For Best Dance
                p The Kalaimamani Award is a prestigious recognition presented by the Tamil Nadu government, India, to honor outstanding artists and individuals who have made significant contributions to various art forms. Established in 1955, the award celebrates excellence in fields such as music, dance, drama, literature, cinema, and folk arts. Recipients are acknowledged for their exceptional talent, dedication, and impact on Tamil culture and art. The award plays a crucial role in promoting and preserving the rich cultural heritage of Tamil Nadu.
            div(class="div4boxes")
                h3 Screen Award for Best Choreography
                p The Screen Award for Best Choreography is an accolade presented annually by the Indian Express Group's Screen magazine. It aims to recognize excellence in choreography in Indian films. Choreographers who demonstrate exceptional skills in creating innovative and captivating dance sequences are eligible for this prestigious honor.Through this accolade, IIFA acknowledges and applauds the efforts of these talented choreographers, whose skills and passion leave a lasting impression on audiences and enrich the cinematic experience.
        
    